body {
    background-color: #f4f4f4; /* Color gris claro */
}
.container {
    background-color: #ffffff; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
